<div class="container">
<h2 class="sub-heading">Student Details</h2>
<hr>
<div class="fields">
<div class="form-group">
<img [src]="studentResponse.imageUrl" [alt]="studentResponse.student.imageFileName" width="140px" height="140px">
</div>
<br>
<div class="form-group">
<label><b>Name:</b></label> {{studentResponse.student.name}}
</div>

<div class="form-group">
<label><b>Age:</b></label> {{studentResponse.student.age}}
</div>

<div class="form-group">
<label><b>Date of Birth:</b></label> {{studentResponse.student.dob}}
</div>

<div class="form-group">
<label><b>Gender:</b></label> {{studentResponse.student.gender}}
</div>

<div class="form-group">
<label><b>Email Id:</b></label> {{studentResponse.student.email}}
</div>

<div class="form-group">
<label><b>Phone Number:</b></label> {{studentResponse.student.phoneNo}}
</div>

<div class="form-group">
<label><b>Percentage:</b></label> {{studentResponse.student.percentage}}
</div>
</div>
<br>
<hr>
</div>
